<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <style>
        body { 
         background-color: #73a9f4;
         color: #444;
       }
    </style>

  <body class="container">
        <div class="col-md-10 col-md-offset-3">
        <h1>Please Enter Your Credentials</h1>
        
        <p class="col-md-3 col-md-offset-3">Username: <input id="userName" type="text" name="name" value="Enter Your Username"></p>
        <p class="col-md-3 col-md-offset-3">Password: <input id="password" type="text" name="name" value="Enter Your Password"></p>
        <button class="btn btn-success" id="login-check">
            Login
        </button>

    </div>
  </body>
  
  <script>
    

    $('#login-check').click((e) => {
    e.preventDefault();
    window.history.pushState("", "", '/account/a1b2c3d4e5');
    window.location.reload();
    
    })
  </script>
</html>
